:root{
    --giroBase:calc(360deg/7);
    --distancia:15vw;
    --fabricSize:10vw;
    --fabricsAmount:7;
    --tileSize:3vw;
}
#public_board{
    height: 100%;
    width: 100%;
    background-color: darkred;
}
#logowrap{
    text-align:center;
    margin-top:50%
}
#logowrap>div{
    display:inline-block;
    position:relative;
}
@for $i from 1 through 11 {
    .fabric#{$i}_show{
        
        -webkit-animation:  fabric#{$i}_show 2s;
        -webkit-animation-iteration-count: 1;
        transform:rotate(calc(calc(var(--giroBase)*#{$i})*1))
                    translate(var(--distancia))
                  rotate(calc(calc(var(--giroBase)*#{$i})*-1));

    }
    .fabric#{$i}_hide{
        -webkit-animation: fabric#{$i}_hide 2s;
        -webkit-animation-iteration-count: 1;
    }

    @-webkit-keyframes fabric#{$i}_show
    {

        //rotate(calc(var(--giroBase)*calc(#{$i - 1}*1)))
        from {
            transform: rotate(calc(var(--giroBase)*calc(#{$i - 4}*1)))
                    translate(0px) 
                    rotate(calc(var(--giroBase)*calc(#{$i - 4}*-1))); 
        }
        
        to {
        transform:rotate(calc(calc(var(--giroBase)*#{$i})*1))
                    translate(var(--distancia))
                  rotate(calc(calc(var(--giroBase)*#{$i})*-1));
        }
    }
    @-webkit-keyframes fabric#{$i}_hide
    {
        to {
            transform: rotate(calc(var(--giroBase)*calc(#{$i - 4}*1)))
                        translate(0px) 
                        rotate(calc(var(--giroBase)*calc(#{$i - 4}*-1)));
        }
        
        from {
            transform:rotate(calc(calc(var(--giroBase)*#{$i})*1))
                                translate(var(--distancia))
                            rotate(calc(calc(var(--giroBase)*#{$i})*-1));
        }
    }
}
  .tileRed{
        /*background-image: url("images/paper.gif");*/
        background-color: red;
    }
    .tileBlue{
        background-color: blue;
    }
    .tileYellow{
        background-color: yellow    ;
    }
    .tilePink{
        /*background-image: url("images/paper.gif");*/
        background-color: pink;
    }
    .tileBlack{
        /*background-image: url("images/paper.gif");*/
        background-color: black;
    }
    .fabric{ 
        grid-column-gap: 100px;
        grid-row-gap: 100px;
        background-color:rgb(105, 13, 224);
        position:absolute;
        top:calc(calc(var(--fabricSize)/2)*-1);
        left:calc(calc(var(--fabricSize)/2)*-1);
        width:var(--fabricSize);
        height:var(--fabricSize);
        border-radius: 100%;
    }   
    .fabric_inside {
        background: transparent;
        width: 80%;
        height: 80%;
        position: absolute;
        display: grid;
        grid-template-columns: auto auto;
        left: 8%;
        top: 8%;

    }