    :root{
        --one:0deg;
        --two:120deg;
        --three:240deg;
        --giroBase:calc(360deg/7);
        --distancia:300px;
        --fabricSize:150px;
        --fabricsAmount:7
    }
    body{
        overflow: hidden;
    }
    .hide{
        display:none;
    }
    #loginError{
        color:rgb(219, 28, 28);
    }
    .lobby{
        background: green;
        position:absolute;
        z-index:2;
        top:0;
        height: 100%;
        width: 100%;
    }
    @keyframes openGame {
    from {left: 100%;}
    to {left: 0%;}
    }
    @keyframes closeGame {
    from {left: 0%;}
    to {left: 100%;}
    }
    @keyframes resizeRoom {
    from {left: 0%;}
    to {left: 100%;}
    }
    .game{
        background: brown;
        position:absolute;
        z-index:3;
        top:0;
        left:0%;
        height: 100%;
        width: 100%;
        animation-duration: 1s;
        animation-iteration-count:1;
        animation-timing-function: ease-in-out;
    }
    .game_left{
        width: 50%;
        height: 100%;
        position:absolute ;
        background-color: cyan;
        display:flex;
    }
    #game_border_left{
        height: 100%;
        width: 5%;
        background-color: grey;
    }
    .game_right{
        width: 50%;
        height: 100%;
        left:50%;
        position: absolute;
        background-color: darkorchid;

    }
    #public_board{
        height: 100%;
        width: 100%;
        background-color: darkred;
    }
    .room{
        z-index:4;
        left:50%;
        top:50%;
        width: 400px;
        height: 400px;
        position:absolute;
        transform: translate(-50%,-50%);
        background-color: rgb(255, 255, 255);
        border-radius: 10%;
    }
    .room:hover{
         transform: scale(0.50, 1) translate(-100%,-50%);
         transition: transform 0.5s ease;
    }

/*#logowrap{
    left: 50%;
position: relative;
top: 50%;
}*/

#logowrap{
    text-align:center;
    margin-top:50%
}
#logowrap>div{
    display:inline-block;
    position:relative;
}
#logowrap>div div{
    position:absolute;
}

.fabric{
    top:calc(calc(var(--fabricSize)/2)*-1);
    left:calc(calc(var(--fabricSize)/2)*-1);
    width:var(--fabricSize);
    height:var(--fabricSize);
    border-radius: 20%;
}
/*#logowrap*/ .green{
    width:70px;
    height:70px;
    width: 200px;
    height: 200px;
    background-color: green;
    /*transform: translate(-50%,-50%);*/
    background-color:green;
    border-radius: 100%;
}

@for $i from 1 through 11 {
.fabric#{$i}_show{
    background-color:yellow;
    -webkit-animation:  fabric#{$i}_show 5s;
    -webkit-animation-iteration-count: 1;
    transform: rotate(calc(var(--giroBase)*#{11-$i}))
                translate(var(--distancia))
                rotate(calc(calc(var(--giroBase)*#{11-$i})*-1));
}
.fabric#{$i}_hide{
    background-color:yellow;
    -webkit-animation:  fabric#{$i}_hide 5s;
    -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes fabric#{$i}_show
{
    from {
        transform: rotate(calc(var(--giroBase)*calc(#{$i - 1}*1)))
                   translate(0px) 
                   rotate(calc(var(--giroBase)*calc(#{$i - 1}*-1)));
    }
    
	to {
    transform: rotate(calc(var(--giroBase)*#{11-$i}))
                    translate(var(--distancia))
                    rotate(calc(calc(var(--giroBase)*#{11-$i})*-1));
	}
}
@-webkit-keyframes fabric#{$i}_hide
{
    to {
        transform: rotate(calc(var(--giroBase)*calc(#{$i - 1}*1)))
                   translate(0px) 
                   rotate(calc(var(--giroBase)*calc(#{$i - 1}*-1)));
    }
    
	from {
    transform: rotate(calc(var(--giroBase)*#{11-$i}))
                    translate(var(--distancia))
                    rotate(calc(calc(var(--giroBase)*#{11-$i})*-1));
	}
}
}

/*
.fabric1_show{
    background-color:yellow;
    -webkit-animation:  fabric01_show 5s;
    -webkit-animation-iteration-count: 1;
    transform: rotate(calc(calc(var(--giroBase)*0)*1))
                translate(var(--distancia))
                rotate(calc(calc(var(--giroBase)*0)*-1));
}


.fabric2_show{
    background-color:blue;
    -webkit-animation: fabric02_show 5s;
    -webkit-animation-iteration-count: 1;
    transform: rotate(calc(calc(var(--giroBase)*1)*1))
                translate(var(--distancia))
                rotate(calc(calc(var(--giroBase)*1)*-1));
}
.fabric03_show{
    background-color:orange;
    -webkit-animation: fabric03_show 5s;
    -webkit-animation-iteration-count: 1;
    transform: rotate(calc(calc(var(--giroBase)*2)*1))
                translate(var(--distancia))
                rotate(calc(calc(var(--giroBase)*2)*-1));
}
.fabric04_show{
    background-color:orange;
    -webkit-animation: fabric04_show 5s;
    -webkit-animation-iteration-count: 1;
    transform: rotate(calc(calc(var(--giroBase)*3)*1))
                translate(var(--distancia))
                rotate(calc(calc(var(--giroBase)*3)*-1));
}

.fabric05_show{
    background-color:orange;
    -webkit-animation: fabric05_show 5s;
    -webkit-animation-iteration-count: 1;
    transform: rotate(calc(calc(var(--giroBase)*4)*1))
                translate(var(--distancia))
                rotate(calc(calc(var(--giroBase)*4)*-1));
}
.fabric01_hide{
    background-color:yellow;
    -webkit-animation:  fabric01_hide 5s;
    -webkit-animation-iteration-count: 1;

}

.fabric02_hide{
    background-color:yellow;
    -webkit-animation:  fabric01_hide 5s;
    -webkit-animation-iteration-count: 1;

}

.fabric03_hide{
    background-color:yellow;
    -webkit-animation:  fabric01_hide 5s;
    -webkit-animation-iteration-count: 1;

}

.fabric04_hide{
    background-color:yellow;
    -webkit-animation:  fabric01_hide 5s;
    -webkit-animation-iteration-count: 1;

}

.fabric05_hide{
    background-color:yellow;
    -webkit-animation:  fabric01_hide 5s;
    -webkit-animation-iteration-count: 1;

}

.fabric06_hide{
    background-color:yellow;
    -webkit-animation:  fabric01_hide 5s;
    -webkit-animation-iteration-count: 1;

}

.fabric07_hide{
    background-color:yellow;
    -webkit-animation:  fabric01_hide 5s;
    -webkit-animation-iteration-count: 1;

}
.fabric08_hide{
    background-color:yellow;
    -webkit-animation:  fabric01_hide 5s;
    -webkit-animation-iteration-count: 1;

}

.fabric09_hide{
    background-color:yellow;
    -webkit-animation:  fabric01_hide 5s;
    -webkit-animation-iteration-count: 1;

}
.fabric10_hide{
    background-color:yellow;
    -webkit-animation:  fabric01_hide 5s;
    -webkit-animation-iteration-count: 1;

}
.fabric11_hide{
    background-color:yellow;
    -webkit-animation:  fabric01_hide 5s;
    -webkit-animation-iteration-count: 1;

}

@-webkit-keyframes fabric01_show
{
    from {
        transform: rotate(calc(calc(var(--giroBase)*2)*1))
                   translate(0px) 
                   rotate(calc(calc(var(--giroBase)*2)*-1));
    }
	to {
		transform: rotate(calc(calc(var(--giroBase)*0)*1))
		           translate(var(--distancia))
		           rotate(calc(calc(var(--giroBase)*0)*-1));
	}
}
@-webkit-keyframes fabric02_show
{
    from {
        transform: rotate(calc(calc(var(--giroBase)*3)*1))
                   translate(0px) 
                   rotate(calc(calc(var(--giroBase)*3)*-1));
    }
	to {
		transform: rotate(calc(calc(var(--giroBase)*1)*1))
		           translate(var(--distancia))
		           rotate(calc(calc(var(--giroBase)*1)*-1));
	}
}
@-webkit-keyframes fabric03_show
{
    from {
        transform: rotate(calc(calc(var(--giroBase)*4)*1))
                   translate(0px) 
                   rotate(calc(calc(var(--giroBase)*4)*-1));
    }
	to {
		transform: rotate(calc(calc(var(--giroBase)*2)*1))
		           translate(var(--distancia))
		           rotate(calc(calc(var(--giroBase)*2)*-1));
	}
}
@-webkit-keyframes fabric04_show
{
    from {
        transform: rotate(calc(calc(var(--giroBase)*5)*1))
                   translate(0px) 
                   rotate(calc(calc(var(--giroBase)*5)*-1));
    }
	to {
		transform: rotate(calc(calc(var(--giroBase)*3)*1))
		           translate(var(--distancia))
		           rotate(calc(calc(var(--giroBase)*3)*-1));
	}
}
@-webkit-keyframes fabric05_show
{
    from {
        transform: rotate(calc(calc(var(--giroBase)*6)*1))
                   translate(0px) 
                   rotate(calc(calc(var(--giroBase)*6)*-1));
    }
	to {
		transform: rotate(calc(calc(var(--giroBase)*4)*1))
		           translate(var(--distancia))
		           rotate(calc(calc(var(--giroBase)*4)*-1));
	}
}
*/